.main{
    position: relative;
    z-index: 1;
    display: flex;
    width: 400px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
    background-color: rgba(178, 223, 225, 0.58);
    padding: 20px;
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
