.input{
    width: 160px;
    border-style: none;
    margin-top: 10px;
    border-radius: 10px;
    text-align: center;
    background-color: #d7bf3b;
    color: white;
    font-weight: bold;
    font-size: 20px;
    padding: 8px;
}
