.input{
    border-style: none;
    margin-top: 20px;
    font-size: 20px;
    height: 40px;
    width: 299px;
    border-radius: 10px;
    text-align: center;
    background-color: #3b3b3b;
    color: white;
}
